/*768px --> max_px*/
.line {
  border: 1px solid #545454;
  opacity: 0.7;
  margin: 41px auto 0;
}

/*min_px --> 768px*/
@media screen and (max-width: 768px) {
  .line {
    margin: 31px auto 0;
  }
}